.li{
    background-color: rgb(13, 253, 105);
    width: 100px;
    height: 20px;
    list-style: none;
    margin: 1px;
    border: 1px solid #000000;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
