.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D20514;
}

.img {
    width: 100px;
    height: 100px;
    margin-left: 10vw;
}

.nav {
    display: inline-flex;
    align-items: baseline;
    padding-right: 20px;
}

.list {
    margin-left: 10vw;
}

li {
    list-style-type: none;
}

button {
    width: 220px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #0096ff;
    background-color: #0096ff;
    color: #ffffff;
    padding: 8px 16px;
    transition: background-color .5s, color .5s;
}

.content {
    background-color: greenyellow;
    height: 80vh;
    padding: 20px;
    color: black;
    border: 1px solid #ec1f1fe0;
}

.request {
    background-color: hotpink;
    padding: 20px;
}

.menuItems li {
    display: inline-block;
    background-color: rgb(128, 128, 128);
    padding: 5px;
    border-radius: 5px;
}

.menuItems a {}

.menuItems li:hover {
    color: rgba(235, 235, 235, 0.616);
    cursor: pointer;
}

li {
    color: black;
    font-family: arial, sans-serif;
}