.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D20514;
}

.img {
    width: 100px;
    height: 100px;
    margin-left: 10vw;
}

.nav {
    padding-right: 20px;
    display: flex;
    align-items: flex-end;
}

.list {
    margin-left: 10vw;
}

li {
    list-style-type: none;
}

.content {
    /*background-color: greenyellow;*/
    height: 80vh;
    padding: 20px;
    color: black;
}

.request {
    background-color: #cecece;
    padding: 20px;
}

.menuItems li {
    display: inline-block;
    padding: 5px;
}

.menuItems {}

.menuItems li:hover {
    color: #cecece;
    cursor: pointer;
}

li {
    color: black;
    font-family: arial, sans-serif;
}

.request img {
    position: relative;
    top: 5px;
    width: 50px;
    height: 50px;
}

.request li {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    font-size: 30px;
}